# fly.toml app configuration file for glamgo-api (backend)
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'glamgo-api'
primary_region = 'cdg'

[build]

[env]
  APP_DEBUG = 'false'
  APP_ENV = 'production'

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[vm]]
  memory = '256mb'
  cpu_kind = 'shared'
  cpus = 1
