@use '../../styles/variables' as *;

.priceContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: $spacing-sm 0;
  border-bottom: 1px solid $gray-200;
}

.label {
  font-size: $font-size-sm;
  color: $gray-600;
  font-weight: $font-weight-medium;
}

.value {
  font-size: $font-size-lg;
  font-weight: $font-weight-bold;
  color: $primary-color;
}
