@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;

.button {
  @include button-base;

  &.primary {
    @include button-primary;
  }

  &.secondary {
    @include button-secondary;
  }

  &.outline {
    @include button-outline;
  }

  &.small {
    padding: $spacing-xs $spacing-md;
    font-size: $font-size-sm;
  }

  &.large {
    padding: $spacing-sm $spacing-lg;
    font-size: $font-size-base;
  }

  &.fullWidth {
    width: 100%;
  }

  &.loading {
    position: relative;
    color: transparent;

    &::after {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      @include spinner(20px, $white);
    }
  }
}
