@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;

.card {
  @include card;
  @include slide-up;

  &.clickable {
    cursor: pointer;
    user-select: none;
  }

  &.bordered {
    border: 2px solid $gray-200;
  }

  &.elevated {
    box-shadow: $shadow-xl;
  }
}

.cardHeader {
  margin-bottom: $spacing-md;
  padding-bottom: $spacing-md;
  border-bottom: 1px solid $gray-200;
}

.cardTitle {
  font-size: $font-size-xl;
  font-weight: $font-weight-semibold;
  color: $black;
  margin-bottom: $spacing-xs;
}

.cardSubtitle {
  font-size: $font-size-sm;
  color: $gray-600;
}

.cardBody {
  color: $gray-700;
  line-height: 1.6;
}

.cardFooter {
  margin-top: $spacing-md;
  padding-top: $spacing-md;
  border-top: 1px solid $gray-200;
  @include flex-between;
}
